In [1]:
import selenium
from selenium import webdriver
import pandas as pd
import csv
import re
import time
import urllib
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException,StaleElementReferenceException,ElementNotInteractableException,ElementNotVisibleException,TimeoutException

#### Q1.Scrape the details of most viewed videos on YouTube from Wikipedia: Url= https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details:

A).Rank

B) Name

C) Artist

D) Upload date

E) Views

In [83]:
def scrap_most_view_vidios(path,web_link):
    driver = webdriver.Chrome(path)
    driver.get(web_link)
    time.sleep(2)
    values={
        "Rank":[],
        "Name":[],
        "Artist":[],
        "Upload Date":[],
        "Views":[]
    }
    for i in driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr"):
        values['Rank'].append(i.find_element_by_xpath('td[1]').text)
        values['Name'].append(re.sub("\[.*?\]","",i.find_element_by_xpath('td[2]').text.replace('"',"")))
        values['Artist'].append(i.find_element_by_xpath('td[3]').text)
        values['Views'].append(i.find_element_by_xpath('td[4]').text)
        values['Upload Date'].append(i.find_element_by_xpath('td[5]').text)
    return values

data=scrap_most_view_vidios("/home/pavankumar/Downloads/chromedriver_linux64/chromedriver","https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")
pd.DataFrame(data)

,Rank,Name,Artist,Upload Date,Views
0,1.,Baby Shark Dance,Pinkfong Kids' Songs & Stories,"June 17, 2016",8.43
1,2.,Despacito,Luis Fonsi,"January 12, 2017",7.32
2,3.,Shape of You,Ed Sheeran,"January 30, 2017",5.29
3,4.,Johny Johny Yes Papa,LooLoo Kids,"October 8, 2016",5.22
4,5.,See You Again,Wiz Khalifa,"April 6, 2015",5.08
5,6.,Masha and the Bear – Recipe for Disaster,Get Movies,"January 31, 2012",4.43
6,7.,Uptown Funk,Mark Ronson,"November 19, 2014",4.16
7,8.,Gangnam Style,Psy,"July 15, 2012",4.05
8,9.,Learning Colors – Colorful Eggs on a Farm,Miroshka TV,"February 27, 2018",3.96
9,10.,Bath Song,Cocomelon – Nursery Rhymes,"May 2, 2018",3.94
10,11.,Phonics Song with Two Words,ChuChu TV,"March 6, 2014",3.77
11,12.,Sugar,Maroon 5,"January 14, 2015",3.45
12,13.,Sorry,Justin Bieber,"October 22, 2015",3.43
13,14.,Roar,Katy Perry,"September 5, 2013",3.33
14,15.,Dame Tu Cosita,El Chombo,"April 5, 2018",3.28
15,16.,Counting Stars,OneRepublic,"May 31, 2013",3.27
16,17.,Thinking Out Loud,Ed Sheeran,"October 7, 2014",3.24
17,18.,Dark Horse,Katy Perry,"February 20, 2014",3.05
18,19.,Shake It Off,Taylor Swift,"August 18, 2014",3.05
19,20.,Faded,Alan Walker,"December 3, 2015",3.05
20,21.,Lean On,Major Lazer Official,"March 22, 2015",3.02
21,22.,Bailando,Enrique Iglesias,"April 11, 2014",3.01
22,23.,Girls Like You,Maroon 5,"May 31, 2018",3.01
23,24.,Let Her Go,Passenger,"July 25, 2012",2.97
24,25.,Mi Gente,J Balvin,"June 29, 2017",2.90
25,26.,Wheels on the Bus,Cocomelon – Nursery Rhymes,"May 24, 2018",2.88
26,27.,Hello,Adele,"October 22, 2015",2.83
27,28.,Perfect,Ed Sheeran,"November 9, 2017",2.82
28,29.,Waka Waka (This Time for Africa),Shakira,"June 4, 2010",2.80
29,30.,Axel F,Crazy Frog,"June 16, 2009",2.77

#### Q2. Scrape the details team India’s international fixtures from bcci.tv. Url = https://www.bcci.tv/. You need to find following details:

A) Match title (I.e. 1 st ODI)

B) Series

C) Place

D) Date

E) Time

Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [64]:
def scrap_indian_cricket_fixtures(path,web_link):
    driver = webdriver.Chrome(path)
    driver.get(web_link)
    driver.get(driver.find_element_by_xpath("//a[@class='navigation__link navigation__link--in-drop-down']").get_attribute('href'))
    time.sleep(2)
    values={
        "Match title":[],
        "Series":[],
        "Place":[],
        "Date":[],
        "Time":[]
    }
    for title,date_time,series in zip(driver.find_elements_by_xpath("//div[@class='fixture__description u-unskewed-text']"),driver.find_elements_by_xpath("//div[@class='fixture__datetime desktop-only']"),driver.find_elements_by_xpath("//div[@class='fixture__teams']")):
        values['Match title'].append(title.text.split("\n")[0])
        values['Place'].append(title.text.split("\n")[1])
        date=date_time.text.split("\n")[:3]
        values['Date'].append('-'.join(date))
        values['Time'].append(date_time.text.split("\n")[-1])
        values['Series'].append(series.text.replace("\n"," "))
    return values
        
data=scrap_indian_cricket_fixtures("/home/pavankumar/Downloads/chromedriver_linux64/chromedriver","https://www.bcci.tv/")
pd.DataFrame(data)

,Match title,Series,Place,Date,Time
0,Final,INDIA v NEW ZEALAND,"The Ageas Bowl, Southampton",Friday-18-JUNE,15:30 IST
1,1st Test,ENGLAND v INDIA,"Trent Bridge, Nottingham",Wednesday-04-AUGUST,15:30 IST
2,2nd Test,ENGLAND v INDIA,"Lord's, London",Thursday-12-AUGUST,15:30 IST
3,3rd Test,ENGLAND v INDIA,"Headingley, Leeds",Wednesday-25-AUGUST,15:30 IST
4,4th Test,ENGLAND v INDIA,"The Oval, London",Thursday-02-SEPTEMBER,15:30 IST
5,5th Test,ENGLAND v INDIA,"Old Trafford, Manchester",Friday-10-SEPTEMBER,15:30 IST

#### Q3. Scrape the details of selenium exception from guru99.com. Url = https://www.guru99.com/ You need to find following details:

A) Name

B) Description

Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [4]:
def scrap_selenium_exceptions(path,web_link):
    driver = webdriver.Chrome(path)
    driver.get(web_link)
    time.sleep(2)
    driver.find_element_by_id('java_technologies').find_element_by_xpath("li[3]").click()
    driver.find_element_by_xpath("//a[@title='Selenium Exception Handling (Common Exceptions List)']").click()
    values={
        "Name":[],
        "Description":[]}
    for i in driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr"):
        try:
            i.find_element_by_xpath("td/strong").text
        except NoSuchElementException as e:
            values["Name"].append(i.text.split(" ")[0])
            values['Description'].append(' '.join(i.text.split(" ")[1:]))
    return values
data=scrap_selenium_exceptions("/home/pavankumar/Downloads/chromedriver_linux64/chromedriver","https://www.guru99.com/")
pd.DataFrame(data)

,Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can't be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

#### Q4.Scrape the details of State-wise GDP of India from statisticstime.com. Url = http://statisticstimes.com/ You have to find following details:

A) Rank

B) State

C) GSDP(18-19)

D) GSDP(17-18)

E) Share(2017)

F) GDP($ billion)

Note: - From statisticstimes home page you have to reach to economy page through code.

In [30]:
def scrap_gdp_state_india(path,web_link):
    driver = webdriver.Chrome(path)
    driver.get(web_link)
    time.sleep(1)
    driver.get(driver.find_element_by_xpath("//div[@class='navbar']/div[2]/div/a[3]").get_attribute('href'))
    driver.find_element_by_xpath("//div[@style='float:left;background-color:seashell;width:400px;height:800px;']/ul/li/a").click()
    values={
        "Rank":[],
        "State":[],
        "GSDP(18-19)":[],
        "GSDP(17-18)":[],
        "Share(2017)":[],
        "GDP($ billion)":[]
    }
    for i in driver.find_elements_by_xpath("//div[@class='dataTables_wrapper']/table/tbody/tr"):
        values['Rank'].append(i.find_element_by_xpath('td[1]').text)
        values['State'].append(i.find_element_by_xpath('td[2]').text)
        values['GSDP(18-19)'].append(i.find_element_by_xpath('td[3]').text)
        values['GSDP(17-18)'].append(i.find_element_by_xpath('td[4]').text)
        values['Share(2017)'].append(i.find_element_by_xpath('td[5]').text)
        values['GDP($ billion)'].append(i.find_element_by_xpath('td[6]').text)
    return values
data=scrap_gdp_state_india("/home/pavankumar/Downloads/chromedriver_linux64/chromedriver","http://statisticstimes.com/")
pd.DataFrame(data)

,Rank,State,GSDP(18-19),GSDP(17-18),Share(2017),GDP($ billion)
0,1,Maharashtra,-,"2,632,792",13.88%,398.145
1,2,Tamil Nadu,"1,845,853","1,630,208",8.59%,246.529
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.35%,239.656
3,4,Gujarat,-,"1,502,899",7.92%,227.276
4,5,Karnataka,"1,631,977","1,493,127",7.87%,225.798
...,...,...,...,...,...,...
61,29,Sikkim,"28,391","25,141",0.15%,"17,060"
62,30,Nagaland,-,"24,534",0.15%,-
63,31,Arunachal Pradesh,-,"22,488",0.13%,-
64,32,Mizoram,"24,424","20,947",0.12%,"17,797"
65,33,Andaman & Nicobar Islands,-,-,-,-

#### Q5. Scrape the details of trending repositories on Github.com. Url = https://github.com/ You have to find the following details:

A) Repository title

B) Repository description

C) Contributors count

D) Language used

Note: - From the home page you have to click on the trending option from Explore menu through code.

In [130]:
def scrap_github_data(path,web_link):
    driver = webdriver.Chrome(path)
    driver.get(web_link)
    time.sleep(1)
    driver.get(driver.find_element_by_xpath("//ul[@class='list-style-none mb-3']/li[3]/a").get_attribute("href"))
    values={
        "Repository title":[],
        "Repository description":[],
        "Contributors count":[],
        "Language used":[]}
    for title,desc,count,lang in zip(driver.find_elements_by_xpath("//span[@class='text-normal']"), driver.find_elements_by_xpath("//p[@class='col-9 color-text-secondary my-1 pr-4']"), driver.find_elements_by_xpath("//div[@class='f6 color-text-secondary mt-2']/a[2]"),driver.find_elements_by_xpath("//span[@itemprop='programmingLanguage']")):
        values['Repository title'].append(title.text.split()[0])
        values['Repository description'].append(desc.text)
        values['Contributors count'].append(count.text)
        values['Language used'].append(lang.text)
    return values
data=scrap_github_data("/home/pavankumar/Downloads/chromedriver_linux64/chromedriver","https://github.com/")
pd.DataFrame(data)

,Repository title,Repository description,Contributors count,Language used
0,supabase,The open source Firebase alternative. Follow t...,390,TypeScript
1,livewire,A full-stack framework for Laravel that takes ...,628,Blade
2,johnBuffer,Trajectories finder,45,C++
3,521xueweihan,分享 GitHub 上有趣、入门级的开源项目,"6,050",Python
4,Developer-Y,List of Computer Science courses with video le...,"3,165",Python
5,PaddlePaddle,Object detection and instance segmentation too...,790,JavaScript
6,nextapps-de,WinBox is a professional HTML5 window manager ...,29,C#
7,UnityTechnologies,Unity Open Project #1: Chop Chop,"1,217",C++
8,flashlight,A C++ standalone library for machine learning,300,Python
9,TheAlgorithms,All Algorithms implemented in Python,"29,506",Rust
10,dani-garcia,Unofficial Bitwarden compatible server written...,502,Python
11,nvbn,Magnificent app which corrects your previous c...,"2,855",JavaScript
12,trekhleb,Algorithms and data structures implemented in ...,"17,470",Java
13,doocs,LeetCode solutions in any programming language...,852,Python
14,mlflow,Open source platform for the machine learning ...,"2,003",Go
15,xinliangnote,基于 Gin 进行模块化设计的 API 框架，封装了常用功能，使用简单，致力于进行快速的业务...,257,TypeScript
16,gitflai,TensorFlow's Visualization Toolkit,19,Kotlin
17,tensorflow,The universal proxy toolchain for Android.,"1,394",C++
18,SagerNet,openpilot is an open source driver assistance ...,87,JavaScript
19,commaai,Automated Binance trading bot - Buy low/Sell h...,"4,937",Go
20,chrisleekr,"drpc is a lightweight, drop-in replacement for...",168,Swift
21,storj,An iOS library to natively render After Effect...,10,TypeScript
22,airbnb,Zero-runtime Stylesheets-in-TypeScript,"3,097",Python

#### Q6.Scrape the details of top 100 songs on billiboard.com. Url = https://www.billboard.com/ You have to find the following details:

A) Song name

B) Artist name

C) Last week rank

D) Peak rank

E) Weeks on board

Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [9]:
def scrap_top_100_songs_on_billiboard(path,web_link):
    driver = webdriver.Chrome(path)
    driver.get(web_link)
    driver.get(driver.find_element_by_xpath("//a[@class='header__submenu__list__link']").get_attribute('href'))
    data=[]
    data.append(["Rank","Position","Song name","Artist name","Last week rank","Peak rank","Weeks on board"])
    for i in driver.find_elements_by_xpath("//li[@class='chart-list__element display--flex']"):
        data.append(i.text.split("\n"))
    return data
data=scrap_top_100_songs_on_billiboard("/home/pavankumar/Downloads/chromedriver_linux64/chromedriver","https://www.billboard.com/")
pd.DataFrame(data[1:],columns=data[0])

,Rank,Position,Song name,Artist name,Last week rank,Peak rank,Weeks on board
0,1,Steady,Rapstar,Polo G,1,1,2
1,2,Rising,Leave The Door Open,Silk Sonic (Bruno Mars & Anderson .Paak),3,1,7
2,3,Rising,Peaches,Justin Bieber Featuring Daniel Caesar & Giveon,4,1,5
3,4,Failing,Montero (Call Me By Your Name),Lil Nas X,2,1,4
4,5,Rising,Levitating,Dua Lipa Featuring DaBaby,6,5,29
...,...,...,...,...,...,...,...
95,96,New,Go!,Moneybagg Yo Featuring BIG30,-,96,1
96,97,Re-Enter,Drankin N Smokin,Future & Lil Uzi Vert,-,31,12
97,98,Failing,Monsters,All Time Low Featuring Demi Lovato & blackbear,95,55,17
98,99,New,Slatty,Young Thug & Gunna Featuring Yak Gotti & Lil Duke,-,99,1
99,100,Failing,4 Da Gang,42 Dugg & Roddy Ricch,84,67,3

#### Q7. Scrape the details of Data science recruiters from naukri.com. Url = https://www.naukri.com/ You have to find the following details:

A) Name

B) Designation

C) Company

D) Skills they hire for

E) Location

Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and
click on search. All this should be done through code

In [42]:
def scrap_job_data_sci_nkry(path,web_link):
    driver = webdriver.Chrome(path)
    driver.get(web_link)
    driver.get(driver.find_element_by_xpath("//a[@title='Search Recruiters']").get_attribute('href'))
    driver.find_element_by_xpath("//input[@class='sugInp']").send_keys("Data Science")
    driver.find_element_by_id("qsbFormBtn").click()
    data=[]
    data.append(["Name","Designation","Company","Location","Skills they hire for"])
    for i in driver.find_elements_by_xpath("//div[@class='recInfo']"):
        row=i.text.split("\n")
        row.pop(4)
        data.append(row[:5])
    return data
data=scrap_job_data_sci_nkry("/home/pavankumar/Downloads/chromedriver_linux64/chromedriver","https://www.naukri.com/")
pd.DataFrame(data[1:],columns=data[0])

,Name,Designation,Company,Location,Skills they hire for
0,Aakash Harit,HR Manager,Data Science Network,Delhi,"Classic ASP Developer, Internet Marketing Prof..."
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,Hyderabad / Secunderabad,".Net, Java, Data Science, Linux Administration..."
2,Talent Acquisition Executive,Recruitment Professional,XenonStack,Chandigarh,"Web Designing, html5, Angular.js, seo, hadoop,..."
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,Ahmedabad,"Mean Stack, javascript, angularjs, mongodb, We..."
4,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,Pune,"Data Science, Artificial Intelligence, Machine..."
5,subhas patel,Founder CEO,LibraryXProject,UK - (london),"Hadoop, Spark, Digital Strategy, Data Architec..."
6,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,Vadodara / Baroda,"Analytics, Business Intelligence, Business Ana..."
7,Institute for Financial Management and Resear,Programme Manager,IFMR,Chennai,Data Science
8,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,Trivandrum,"Machine Learning, algorithms, Go Getter, Compu..."
9,Asif Lucknowi,Director,Weupskill- Live Wire India,Indore,"Technical Training, Software Development, Pres..."
10,InstaFinancials,Human Resource,CBL Data Science Private Limited,Bengaluru / Bangalore,"Software Development, It Sales, Account Manage..."
11,Kalpana Dumpala,Executive Hiring,Innominds Software,Hyderabad / Secunderabad,"Qa, Ui/ux, Java Developer, Java Architect, C++..."
12,Mubarak,Company HR,MoneyTap,Bengaluru / Bangalore,"Business Intelligence, Data Warehousing, Data ..."
13,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,Mumbai,"Office Administration, Hr Administration, tele..."
14,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,Nagpur,"Qlikview, Qlik Sense, Microsoft Azure, Power B..."
15,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,Hyderabad / Secunderabad,"Social Media, digital media maketing, seo, smm..."
16,Manisha Yadav,HR Executive,Easi Tax,Navi Mumbai,"Telecalling, Client Interaction, Marketing, Re..."
17,Kapil Devang,HR Manager,BISP Solutions,Bhopal,"Big Data, Hadoop, Data Analytics, Data Science"
18,Dhruv Dev Dubey,Company Recruitment Head,Confidential,Bengaluru / Bangalore,"Server Administartion, Verilog, Vhdl, Digital ..."
19,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Cochin,Data Science
20,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,Delhi,"Corporate Sales, Software Development, Softwar..."
21,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,Hyderabad / Secunderabad,"Data Analytics, Data Science, Machine Learning..."
22,Rithika dadwal,HR Recruiter,Affine Analytics,Pune,"Data Science, Machine Learning, Python, R, Dee..."
23,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,Pune,"Data Science, Artificial Intelligence, Machine..."
24,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,Pune,"Big Data, Data Science, Artificial Intelligenc..."
25,Shaun Rao,Manager Human Resources,Exela Technologies,Pune,"Java, Net, Angularjs, Hr, Infrastructure, Mana..."
26,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,Bengaluru / Bangalore,"Software Architecture, Vp Engineering, Product..."
27,kumar,Proprietor,trainin,Bengaluru / Bangalore,"Data Science, Hadoop, Rpas, Devops, Python, Aw..."
28,Sunil Vedula,CEO,Nanoprecise Sci Corp,Skills/Roles I hire for :,1 active jobs | Last active on 10-Oct-2017
29,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,Delhi,"Web Technologies, Project Management, Software..."
30,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd",Mysoru / Mysore,"Data Analytics, Managed Services, Team Leading..."
31,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,Hyderabad / Secunderabad,"Data Science, Machine Learning, Big Data Analy..."
32,Prateek Kumar,Head,Trisect,Noida,"Java, Python, Angularjs, Software Testing, Mac..."
33,Amit Sharma,Consultant,ASCO consulting,New Delhi,"Machine Learning, Artificial Intelligence, Dat..."
34,Kanan,senior technology instructor,NY INST,Chennai,"C, C++, Artificial Intelligence, Python, Php, ..."
35,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,Aligarh,"Relationship Management, Retail Sales, Private..."
36,Brad,"Manager, Technical Recruiting",O.C. Tanner,Salt Lake City,"Data Science, Software Engineering"
37,Rutuja Pawar,Technical Recruiter,Demand Matrix,Pune,"Data Science, Big Data Analytics, Digital Mark..."
38,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,Bengaluru / Bangalore,"Data Science, Recruitment, Salary"
39,Ankit Sinha,Head Analytics,Suntech Global,Mumbai,"B.Tech, Tableau, Statistics, R, Analytics, Tim..."
40,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,Indore,"Software Development, Business Intelligence, B..."
41,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,Bengaluru / Bangalore,"Data Science, Node.js, Angularjs"
42,Ashwini,Director Global Delivery,MRP Advisers,MYSORE,"Data Science, Media Marketing, Resource Planni..."
43,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,Hyderabad / Secunderabad,"Data Analysis, Learning, Data Science, Compute..."
44,Rajani Nagaraj,HR Manager,WildJasmine,Bengaluru / Bangalore,"Java, Hadoop, R, Machine Learning, Spark, Flum..."
45,ROHIT Kumar,Architect,LNT Private Limited,Mumbai,"Software Development, Core Java, Unit Testing,..."
46,Amir Chowdhury,Managing Partner,Granular.ai,Skills/Roles I hire for :,2 active jobs | Last active on 04-Nov-2016
47,Shailja Mishra,HR Manager,Certybox Pvt.Ltd.,Noida,"consulting, Education Counseling, Educational ..."
48,Sunny Sharma,Managing Director - HR,Western Service Providers,Mumbai,"Software Professionals, Engineering, Technical..."
49,Sagar Lama,Company HR Manager,AdView,Bengaluru / Bangalore,"Full Stack Developers, Product Manager, Data S..."

#### Q8. Scrape the details of Highest selling novels. Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/ You have to find the following details:

A) Book name

B) Author name

C) Volumes sold

D) Publisher

E) Genre

In [99]:
def scrap_high_selling_novek(path,web_link):
    driver = webdriver.Chrome(path)
    driver.get(web_link)
    data=[]
    row_lis=[]
    data.append(driver.find_element_by_xpath("//table[@class='in-article sortable']/thead").text.split("\n"))
    for i in driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr"):
        row_lis.append(i.find_element_by_xpath("td[1]").text)
        row_lis.append(i.find_element_by_xpath("td[2]").text)
        row_lis.append(i.find_element_by_xpath("td[3]").text)
        row_lis.append(i.find_element_by_xpath("td[4]").text)
        row_lis.append(i.find_element_by_xpath("td[5]").text)
        row_lis.append(i.find_element_by_xpath("td[6]").text)
        data.append(row_lis)
        row_lis=[]
    return data
data=scrap_high_selling_novek("/home/pavankumar/Downloads/chromedriver_linux64/chromedriver","https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/")
pd.DataFrame(data[1:],columns=data[0])

,Rank,Title,Author,Volume Sales,Publisher,Genre
0,1,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,2,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,3,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,4,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,5,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...,...
95,96,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,97,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,98,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,99,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,100,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

#### Q9. Scrape the details most watched tv series of all time from imdb.com. Url = https://www.imdb.com/list/ls095964455/ You have to find the following details:

A) Name

B) Year span

C) Genre

D) Run time

E) Ratings

F) Votes

In [53]:
def scrap_imdb_movies(path,web_link):
    driver = webdriver.Chrome(path)
    driver.get(web_link)
    values={
       "Name":[],
        "Year span":[],
        "Genre":[],
        "Run time":[],
        "Ratings":[],
        "Votes":[]
    }
    for name,year,gener,run_time,rating,votes in zip(driver.find_elements_by_xpath("//h3[@class='lister-item-header']/a"),driver.find_elements_by_xpath("//span[@class='lister-item-year text-muted unbold']"),driver.find_elements_by_xpath("//span[@class='genre']"),driver.find_elements_by_xpath("//span[@class='runtime']"),driver.find_elements_by_xpath("//span[@class='ipl-rating-star__rating']"),driver.find_elements_by_xpath("//span[@name='nv']")):
        values['Name'].append(name.text)
        values['Year span'].append(year.text)
        values['Genre'].append(gener.text)
        values['Run time'].append(run_time.text)
        values['Ratings'].append(rating.text)
        values['Votes'].append(votes.text)
    return values
data=scrap_job_data_sci_nkry("/home/pavankumar/Downloads/chromedriver_linux64/chromedriver","https://www.naukri.com/")
pd.DataFrame(data)

,0,1,2,3,4
0,Name,Designation,Company,Location,Skills they hire for
1,Aakash Harit,HR Manager,Data Science Network,Delhi,"Classic ASP Developer, Internet Marketing Prof..."
2,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,Hyderabad / Secunderabad,".Net, Java, Data Science, Linux Administration..."
3,Talent Acquisition Executive,Recruitment Professional,XenonStack,Chandigarh,"Web Designing, html5, Angular.js, seo, hadoop,..."
4,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,Ahmedabad,"Mean Stack, javascript, angularjs, mongodb, We..."
5,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,Pune,"Data Science, Artificial Intelligence, Machine..."
6,subhas patel,Founder CEO,LibraryXProject,UK - (london),"Hadoop, Spark, Digital Strategy, Data Architec..."
7,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,Vadodara / Baroda,"Analytics, Business Intelligence, Business Ana..."
8,Institute for Financial Management and Resear,Programme Manager,IFMR,Chennai,Data Science
9,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,Trivandrum,"Machine Learning, algorithms, Go Getter, Compu..."
10,Asif Lucknowi,Director,Weupskill- Live Wire India,Indore,"Technical Training, Software Development, Pres..."
11,InstaFinancials,Human Resource,CBL Data Science Private Limited,Bengaluru / Bangalore,"Software Development, It Sales, Account Manage..."
12,Kalpana Dumpala,Executive Hiring,Innominds Software,Hyderabad / Secunderabad,"Qa, Ui/ux, Java Developer, Java Architect, C++..."
13,Mubarak,Company HR,MoneyTap,Bengaluru / Bangalore,"Business Intelligence, Data Warehousing, Data ..."
14,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,Mumbai,"Office Administration, Hr Administration, tele..."
15,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,Nagpur,"Qlikview, Qlik Sense, Microsoft Azure, Power B..."
16,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,Hyderabad / Secunderabad,"Social Media, digital media maketing, seo, smm..."
17,Manisha Yadav,HR Executive,Easi Tax,Navi Mumbai,"Telecalling, Client Interaction, Marketing, Re..."
18,Kapil Devang,HR Manager,BISP Solutions,Bhopal,"Big Data, Hadoop, Data Analytics, Data Science"
19,Dhruv Dev Dubey,Company Recruitment Head,Confidential,Bengaluru / Bangalore,"Server Administartion, Verilog, Vhdl, Digital ..."
20,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Cochin,Data Science
21,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,Delhi,"Corporate Sales, Software Development, Softwar..."
22,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,Hyderabad / Secunderabad,"Data Analytics, Data Science, Machine Learning..."
23,Rithika dadwal,HR Recruiter,Affine Analytics,Pune,"Data Science, Machine Learning, Python, R, Dee..."
24,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,Pune,"Data Science, Artificial Intelligence, Machine..."
25,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,Pune,"Big Data, Data Science, Artificial Intelligenc..."
26,Shaun Rao,Manager Human Resources,Exela Technologies,Pune,"Java, Net, Angularjs, Hr, Infrastructure, Mana..."
27,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,Bengaluru / Bangalore,"Software Architecture, Vp Engineering, Product..."
28,kumar,Proprietor,trainin,Bengaluru / Bangalore,"Data Science, Hadoop, Rpas, Devops, Python, Aw..."
29,Sunil Vedula,CEO,Nanoprecise Sci Corp,Skills/Roles I hire for :,1 active jobs | Last active on 10-Oct-2017
30,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,Delhi,"Web Technologies, Project Management, Software..."
31,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd",Mysoru / Mysore,"Data Analytics, Managed Services, Team Leading..."
32,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,Hyderabad / Secunderabad,"Data Science, Machine Learning, Big Data Analy..."
33,Prateek Kumar,Head,Trisect,Noida,"Java, Python, Angularjs, Software Testing, Mac..."
34,Amit Sharma,Consultant,ASCO consulting,New Delhi,"Machine Learning, Artificial Intelligence, Dat..."
35,Kanan,senior technology instructor,NY INST,Chennai,"C, C++, Artificial Intelligence, Python, Php, ..."
36,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,Aligarh,"Relationship Management, Retail Sales, Private..."
37,Brad,"Manager, Technical Recruiting",O.C. Tanner,Salt Lake City,"Data Science, Software Engineering"
38,Rutuja Pawar,Technical Recruiter,Demand Matrix,Pune,"Data Science, Big Data Analytics, Digital Mark..."
39,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,Bengaluru / Bangalore,"Data Science, Recruitment, Salary"
40,Ankit Sinha,Head Analytics,Suntech Global,Mumbai,"B.Tech, Tableau, Statistics, R, Analytics, Tim..."
41,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,Indore,"Software Development, Business Intelligence, B..."
42,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,Bengaluru / Bangalore,"Data Science, Node.js, Angularjs"
43,Ashwini,Director Global Delivery,MRP Advisers,MYSORE,"Data Science, Media Marketing, Resource Planni..."
44,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,Hyderabad / Secunderabad,"Data Analysis, Learning, Data Science, Compute..."
45,Rajani Nagaraj,HR Manager,WildJasmine,Bengaluru / Bangalore,"Java, Hadoop, R, Machine Learning, Spark, Flum..."
46,ROHIT Kumar,Architect,LNT Private Limited,Mumbai,"Software Development, Core Java, Unit Testing,..."
47,Amir Chowdhury,Managing Partner,Granular.ai,Skills/Roles I hire for :,2 active jobs | Last active on 04-Nov-2016
48,Shailja Mishra,HR Manager,Certybox Pvt.Ltd.,Noida,"consulting, Education Counseling, Educational ..."
49,Sunny Sharma,Managing Director - HR,Western Service Providers,Mumbai,"Software Professionals, Engineering, Technical..."
50,Sagar Lama,Company HR Manager,AdView,Bengaluru / Bangalore,"Full Stack Developers, Product Manager, Data S..."

#### Q10. Details of Datasets from UCI machine learning repositories. Url = https://archive.ics.uci.edu/ You have to find the following details:

A) Dataset name

B) Data type

C) Task

D) Attribute type

E) No of instances

F) No of attribute

G) Year

Note: - from the home page you have to go to the Show All Dataset page through code.

In [6]:
def scrap_datasets_uci(path,web_link):
    driver = webdriver.Chrome(path)
    driver.get(web_link)
    driver.find_element_by_xpath("//span[@class='normal']/b/a").click()
    data=[]
    for i in driver.find_elements_by_xpath("//table[@border='1']/tbody/tr"):
        data.append(i.text.split("\n"))
    return data
data=scrap_datasets_uci("/home/pavankumar/Downloads/chromedriver_linux64/chromedriver","https://archive.ics.uci.edu/")
pd.DataFrame(data[1:],columns=data[0])

,Name,Data Types,Default Task,Attribute Types,# Instances,# Attributes,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,Recommender-Systems,Categorical,37711,294,1998,None
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
580,Wisesight Sentiment Corpus,"Multivariate, Text",Classification,26737,4,2020,None
581,AI4I 2020 Predictive Maintenance Dataset,"Multivariate, Time-Series","Classification, Regression, Causal-Discovery",Real,10000,14,2020
582,Dry Bean Dataset,Multivariate,Classification,"Integer, Real",13611,17,2020
583,in-vehicle coupon recommendation,Multivariate,Classification,12684,23,2020,None
584,Gait Classification,Multivariate,Classification,Real,48,321,2020